body {
  width: 1440px;
  margin-left: 2.5%;
  margin-top: 0;
}
.section_Header {
  width: 100%;
  height: 1102px;
  background-color: #ffffff;
}
.background {
  width: 100%;
  height: 897px;
  background: url("../pics/pic.png");
  background-size: 100% 100%;
}
.filtr {
  width: 100%;
  height: 916px;
  background: rgba(0, 0, 0, 0.4);
}
.navbar {
  width: 1322px;
  height: 91px;
  margin-left: calc(50% - 1322px / 2);
  display: flex;
  flex-direction: row;
}
.brand {
  width: 187px;
  height: 58px;
  margin-left: 136px;
  margin-top: 17px;
}
.brandname {
  width: 149px;
  height: 32px;
  margin-top: 13px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #ececec;
}
.collapse {
  width: 815px;
  height: 58px;
  margin-top: 16px;
  margin-left: 41px;
  float: left;
  display: flex;
  flex-direction: row;
}
.nav {
  height: 24px;
  width: 275px;
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#l1 {
  width: 43px;
  height: 24px;
}
#l2 {
  width: 59px;
  height: 24px;
  margin-left: 21px;
}
#l3 {
  width: 52px;
  height: 24px;
  margin-left: 21px;
}
#l4 {
  width: 58px;
  height: 24px;
  margin-left: 21px;
}
.nav2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 52px;
  width: 300px;
  margin-left: 240px;
}
.item1 {
  width: 41px;
  height: 22px;
}
#A_Login {
  margin-top: 20px;
}
.item2 {
  width: 214px;
  height: 52px;
  margin-left: 45px;
}
#but {
  height: 52px;
  width: 137px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px;
  gap: 15px;
  background: #ff6551;
  border: none;
  border-radius: 5px;
}
img {
  height: 10px;
  width: 10px;
}
a,
button {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #ececec;
  text-decoration: none;
}
#head_container {
  height: 1006px;
  width: 1046px;
  margin-left: 197px;
  margin-top: 13px;
  padding: 80px, 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
.row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 701px;
  height: 466px;
  margin-top: 80px;
}
.row2 {
  height: 300px;
  width: 1046px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
}
#headtag {
  width: 59px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffc652;
  margin-top: 40px;
}
#headline {
  width: 542px;
  height: 160px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: 10px;
}
#subheadline {
  width: 600px;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: 0px;
}
#but2 {
  padding: 15px 40px;
  margin-top: 15px;
  background: #ff6551;
  border: none;
  border-radius: 5px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 328px;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.fixedsec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 35px 35px;
  gap: 10px;
  width: 70px;
  height: 76px;
  background: #b6d7ff;
  border-radius: 10px;
}
.ICON {
  height: 32px;
  width: 32px;
}
.featurTitle {
  height: 32px;
  width: 205px;
  margin-left: 36px;
  margin-top: -8px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
}
hr {
  width: 50px;
  height: 2px;
  background: #e74040;
  border: none;
  margin-left: 36px;
  margin-top: 1px;
}
p {
  width: 222px;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-left: 36px;
}
#card3 {
  background: #ff6551;
}
#title3,
#p3 {
  color: #ffffff;
}

#hr3 {
  background: #ffffff;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////  */
.section1 {
  width: 100%;
  height: 783px;
  background-color: #ffffff;
}
#sec1_container,
#sec2_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0px;
  width: 1050px;
  margin-left: 195px;
}
#thumb {
  width: 544px;
  height: 463px;
}
.colsCon {
  display: flex;
  flex-direction: row;
}
.cols {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  width: 522.5px;
  height: 463px;
  margin: 0;
}
#col2Contan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  width: 400px;
  height: 260px;
  margin-left: 120px;
  margin-top: 108.5px;
}
#col2_hr {
  width: 94px;
  height: 7px;
  background: #e74040;
  margin-left: 0;
}
#sec2_title {
  width: 390px;
  height: 45px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-top: -15px;
}
#sec2_P {
  width: 320px;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: -40px;
  margin-left: 0;
}
.sec2_scMore {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 101px;
  height: 24px;

  margin-top: 14px;
  margin-left: 0;
}
#sec2_h6 {
  width: 82px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ff6551;
}
#arrowicon {
  width: 9px;
  height: 16px;
}
/* ///////////////////////////////////////////////////////////////////////////////// */
.section2 {
  width: 1440px;
  height: 676px;
  background: #ffffff;
}
#col3Contan {
  width: 507px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  margin-top: 58.5px;
}
#sec2_col_hr {
  width: 94px;
  height: 7px;
  margin-left: 0;
}
#sec3_title {
  width: 390px;
  height: 45px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-top: -15px;
}
.vidioCard {
  width: 513px;
  height: 363px;
  background: #ffffff;
  border-radius: 20px;
  background-image: url("../pics/video-thumb.png");
}
#filtrVido {
  width: 513px;
  height: 363px;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 14.58%,
    rgba(56, 56, 56, 0.84) 100%
  );
}
#Vidothumb {
  width: 513px;
  height: 363px;
  border-radius: 20px;
}
#play {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 34.8px 36.8px;
  position: relative;
  width: 92.6px;
  height: 92.6px;
  left: 210px;
  top: 136px;
  background: #ff6551;
  border-radius: 73.6px;
  border: none;
}
#vecImg {
  width: 19px;
  height: 23px;
}
/* ///////////////////////////////////////////////////////////////////////////////// */
.section3 {
  width: 1440px;
  height: 1152px;
  background: #ffffff;
}
#sec3Con {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1050px;
  height: 1072px;
  margin-left: 195px;
}
#sc3row1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 1044px;
  height: 134px;
  margin-top: 112px;
}
#sec3h6 {
  width: 59px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ff6551;
  margin-top: 0;
}
#sec3h2 {
  width: 450px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-top: -25px;
}
#sec3P {
  width: 469px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-left: 0;
  margin-top: -20px;
}
#sc3row2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 1049px;
  height: 602px;
  margin-top: 112px;
}
.productCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 238px;
  height: 602px;
  background: #ffffff;
}
.picProd {
  width: 238px;
  height: 300px;
  margin-top: 0;
}
#picPro1 {
  background-image: url("/assets/pics/P1.png");
}
#picPro2 {
  background-image: url("/assets/pics/P2.png");
}
#picPro3 {
  background-image: url("/assets/pics/P3.png");
}
#picPro4 {
  background-image: url("/assets/pics/P4.png");
}
#sale {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
  position: relative;
  width: 30px;
  height: 24px;
  left: 20px;
  top: 20px;
  background: #e74040;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
#salespan {
  width: 32px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.prodActions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  position: relative;
  width: 140px;
  height: 40px;
  left: 49px;
  top: 210px;
}
.actionsbuts {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 44.7857px;
  border: none;
  text-align: center;
}
.vect {
  width: 20px;
  height: 20px;
  margin-top: 8px;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 232px;
  height: 302px;
}
.frameDetail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*  align-items: center; */
  padding: 0px;
  gap: 10px;
  width: 190px;
  height: 26px;
  margin-top: 25px;
  margin-left: 18px;
}
.Prodname {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 10px;
  width: 130px;
  height: 24px;
}
.LinkName {
  width: 130px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ff6551;
}
.rate {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 50px;
  height: 26px;
  background: #26335d;
  border-radius: 20px;
}
.star {
  width: 16px;
  height: 16px;
  margin-left: 6px;
}
.RateNum {
  width: 19px;
  height: 16px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.prodTitle {
  width: 172px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-left: 25px;
  margin-top: 0;
}
.ProdParag {
  width: 182px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-left: 25px;
  margin-top: -23px;
}
.NumOfSale {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 98px;
  height: 24px;
  margin-left: 25px;
  margin-top: -10px;
}
.NumOfSalespic {
  width: 14px;
  height: 16px;
  margin-left: 2px;
}
.h6NumSales {
  width: 60px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.Prices {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
  width: 108px;
  height: 34px;
  margin-left: 25px;
}
.Price1 {
  width: 52px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #bdbdbd;
  margin-top: 4px;
}
.Price2 {
  width: 45px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #2435a1;
  margin-top: 4px;
}
.LearnMoreBut {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 141.14px;
  height: 44px;
  border: 1px solid #ff6551;
  border-radius: 37px;
  margin-left: 25px;
  background-color: #ffffff;
}
.learnmoreh6 {
  width: 82px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ff6551;
}
.learnMArrow {
  width: 9.14px;
  height: 16px;
}
/* ///////////////////////////////////////////////////////////////////////////////// */
.section4 {
  width: 1440px;
  height: 1471px;
  background: #26335d;
}
#Sec4Con {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  position: relative;
  width: 1050px;
  height: 1471px;
  left: 195px;
  top: 0px;
}
#Sec4row1,
#Sec5row1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1044px;
  height: 134px;
  margin-top: 160px;
}
#sec4Tag,
#sec5Tag {
  width: 114px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ff6551;
  margin-top: 0;
}
#sec4Title {
  width: 447px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-top: -20px;
}
#sec4Parah {
  width: 463px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-left: 0;
  margin-top: -30px;
}
#Sec4row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 1045px;
  height: 937px;
}
.colCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 328px;
  height: 937px;
}
.cardItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  height: 888px;
  top: 29px;
  background: #ffffff;
  width: 323px;
}
.HeartPic {
  width: 96px;
  height: 96px;
  border-radius: 200px;
  margin-top: 50px;
  margin-left: 40px;
}
#freeH3 {
  width: 64px;
  height: 32px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-left: 40px;
}
#h6Detail {
  width: 209px;
  height: 48px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-left: 40px;
  margin-top: 0;
}
.PriceSec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 76px;
  height: 74px;

  margin-left: 40px;
}
#h2Price {
  width: 68px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #ff6551;
  margin-top: -1px;
}
#perMonth {
  width: 76px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #8ec2f2;
  margin-top: -33px;
}
#priceDetailPar {
  width: 204px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 35px;
}
#tryForFreebut {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px;
  gap: 10px;
  width: 243px;
  height: 52px;
  background: #ff6551;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  border: none;
  margin-left: 40px;
  margin-top: 20px;
}
.FeatureList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 243px;
  height: 250px;

  margin-left: 40px;
  margin-top: 35px;
}
.featureItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 243px;
  height: 32px;
}
.circle {
  width: 32px;
  height: 32px;
  border-radius: 200px;
}
#success {
  background: #2dc071;
}
#muted {
  background: #bdbdbd;
}
#checkPic {
  position: relative;
  width: 16px;
  height: 11px;
  left: 8px;
  top: 8px;
}
#ItemTitle {
  width: 201px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}
#Last_item {
  margin-top: 15px;
}
.lastOne {
  height: 48px;
}
.lastoneText {
  margin-top: 15px;
}
#FloatCircle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  width: 89px;
  height: 90px;
  right: -20px;
  top: -30px;
  background: #e77c40;
  border-radius: 52px;
}
/* ///////////////////////////////////////////////////////////////////////////////// */
.section5 {
  width: 1440px;
  height: 865px;
  background: #ffffff;
}
.sec5Con {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 96px;
  position: relative;
  width: 1050px;
  height: 865px;
  left: 195px;
  top: 0px;
}
#Sec5row1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 1044px;
  height: 134px;
  margin-top: 160px;
}
#sec5Title {
  width: 420px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-top: -25px;
}
#sec5Parah {
  width: 463px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-left: 0;
  margin-top: -25px;
}
#Sec5row2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 1050px;
  height: 378.01px;
  margin-top: 25px;
}
.Sec5Cols {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 508px;
  height: 378.01px;
}
.picPersons {
  width: 128px;
  height: 128px;
  border-radius: 200px;
  margin-top: 20px;
}
.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 15px;
  width: 400px;
  height: 225.01px;
}
#sec5ParahCard {
  width: 320px;
  height: 60px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: -1px;
}
.starSec {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
  width: 130.07px;
  height: 22.01px;

  margin-top: -20px;
}
.starIND {
  width: 22.01px;
  height: 22.01px;

  margin-left: 0;
}
.fill {
  background-image: url("../pics/starFill.png");
}
.empty {
  background-image: url("../pics/starEmpty.png");
}
.Sec5frameOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 25px;
  gap: 5px;
  width: 155px;
  height: 53px;
}
#userTitle {
  width: 105px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-top: -3px;
}
#job {
  width: 65px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: -23px;
}
/* ///////////////////////////////////////////////////////////////////////////////// */
.section6 {
  width: 1440px;
  height: 594px;
  background: #ffffff;
}
.sec6Con {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  position: relative;
  width: 1050px;
  height: 592px;
  left: 195px;
  top: 0px;
}
.Sec6row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  width: 692px;
  height: 134px;

  margin-top: 160px;
}
.Sec6row2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 688px;
  height: 58px;
  margin-top: 20px;
}
#sec6Tag {
  width: 82px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ff6551;
  margin-top: 0;
}
#sec6Title {
  width: 437px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-top: -24px;
}
#secParah {
  width: 469px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: -30px;
}

#inputEmail {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  padding-left: 10px;
}
#subscribeBut {
  box-sizing: border-box;
  height: 58px;
  width: 100px;
  position: absolute;
  margin-left: 590px;
  background: #ff6551;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
/* ///////////////////////////////////////////////////////////////////////////////// */
.footer {
  width: 1440px;
  height: 346px;
  background: #ffffff;
}
.footCon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 1050px;
  height: 100%;
  left: 195px;
  top: 0px;
}
.footRow1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 1041px;
  height: 170px;
  margin-top: 50px;
}
.footRow2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 25px 0px;
  position: relative;
  width: 1050px;
  height: 74px;
  top: 0px;
  margin-top: 40px;
}
.Foot_Firstcols {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 148px;
  height: 170px;
}
.Foot_lastcol {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 321px;
  height: 162px;
}
.FootRow2col1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 600px;
  height: 24px;
}
.FootRow2col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-left: 213px;
  width: 236px;
  height: 24px;
}
#FoorSectitle {
  width: 119px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-top: 0;
}
.divOfLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: 150px;
  margin-top: -30px;
}
.linksFoot {
  text-align: left;
  width: 100%;
  height: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-left: 0;
}
.ContactItems {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 100%;
  height: 118px;
  margin-top: -30px;
}
.ConItem1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 100%;
  height: 24px;
}
.ConItem2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 100%;
  height: 48px;
}
.ConItem3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 100%;
  height: 26px;
}
#contactPic1 {
  width: 22px;
  height: 22px;
}
#contactPic2 {
  width: 22px;
  height: 28px;
}
#contactPic3 {
  width: 22px;
  height: 24px;
}
.contactDetail {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
#FootParah {
  width: 359px;
  height: 24px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-top: 0;
}
.socialMedial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 112px;
  height: 24px;
}
#socialMediaset {
  width: 22px;
  height: 22px;
}
